body {
    background-color: #d95550;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    display: flex;
    width: 44%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#clock-container {
    width: 45%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #dd6662;
    border-radius: 5%;
}

#buttons {
    padding: 20px;
}

.navbar {
    padding: 8px 12px;
}

#section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    font-size: 10vw;
    text-align: center;
    color: white;
    padding-top: 20px;
}

#section-3 {
    text-align: center;
    padding: 10%;
}

#start {
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5%;
    border: none;
    color: #d95550;
    background-color: white;
}

button {
    border: none;
    background-color: #dd6662;
    color: white;
}

button:hover {
    cursor: pointer;
    border-radius: 5%;
}

#section-1 button {
    font-weight: bolder;
    font-size: 2vw;
    padding: 5px 10px;
}

.btn-active {
    background-color: #c2524e;
}

#section-3 button {
    width: 30vw;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0vw !important;
}
.menu__btn {
    position: fixed;
    top: 20px;
    left: 67%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
}
.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #dd6662;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}
.menu__item:hover {
    background-color: #cfd8dc;
}

.darkMode {
    background-color: #152028;
    color: white;
}
